"*":
  "atom-ternjs": {}
  "autocomplete-plus": {}
  core:
    themes: [
      "atom-dark-ui"
      "seti-syntax"
    ]
  editor:
    fontSize: 15
    invisibles: {}
  "exception-reporting":
    userId: "dbaef2b0-fa91-c3a4-e1cf-63524183f17d"
  "git-blame": {}
  "git-plus": {}
  metrics:
    userId: "62792b2f3260d69489a4ae8ae86f14fe2279a504"
  minimap:
    plugins:
      "git-diff": false
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "package-sync":
    createOnChange: true
  "python-tools": {}
  "release-notes":
    viewedVersion: "0.95.0"
  "remote-edit":
    showHiddenFiles: true
    sshPrivateKeyPath: "~/.ssh/soomla2.pem"
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
  wordcount:
    alwaysOn: true
