packages: [
  "atom-ternjs"
  "autocomplete-python"
  "color-picker"
  "csscomb"
  "expand-region"
  "file-icons"
  "git-blame"
  "git-plus"
  "highlight-selected"
  "javascript-snippets"
  "minimap"
  "minimap-git-diff"
  "minimap-highlight-selected"
  "package-sync"
  "pretty-json"
  "python-tools"
  "script"
  "seti-syntax"
  "seti-ui"
  "wordcount"
]
